Repository dynamic-framework/dynamic-retail-product-detail-template, pull requests merged in 2024-06, with the labels that each got.

#27 Feat: freeze account
  src/components/AccountCard.tsx
  src/components/AccountSelectorSlider.tsx
  src/components/ActionsSelectorSlider.tsx
  src/components/ActivityListFilter.tsx
  src/locales/en.json
  src/services/api-interface.ts
  src/services/hooks/useAccountCallback.ts
  src/services/hooks/useAccountsEffect.ts
  src/services/interface.ts
  src/services/mappers/accountMapper.ts
  src/store/selectors.ts
  src/store/slice.ts
  src/styles/base.scss
Labels: enhancement, feature

#28 feat: card information
  package.json
  src/components/ActionsSelectorSlider.tsx
  src/components/CardItem.tsx
  src/components/CountDownState.tsx
  src/components/ItemCardInfo.tsx
  src/components/NumberCardInfo.tsx
  src/components/loaders/CircularLoaderWithTimer.tsx
  src/components/modals/ModalCardInformation.tsx
  src/components/modals/ModalOTP.tsx
  src/hooks/useCVC.ts
  src/hooks/useCountDown.tsx
  src/index.tsx
  src/interface.ts
  src/locales/en.json
  src/locales/es.json
  src/styles/base.scss
  src/styles/loadingCircle.scss
Labels: feature

#30 fix: add logos for mobile card and adjust status label
  package-lock.json
  src/assets/Mastercard.svg
  src/components/AccountCardMobile.tsx
  src/components/AccountDetailChecking.tsx
  src/components/AccountDetailCreditCard.tsx
  src/components/AccountDetailLoan.tsx
  src/components/AccountDetailSaving.tsx
  src/components/ItemTitle.tsx
  src/styles/base.scss
Labels: fix
