Repository dynamic-framework/dynamic-retail-product-detail-template, pull requests merged in 2024-10, with the labels that each got.

#35 fix: breakpoints arrows and delete mobile card component
  src/App.tsx
  src/components/AccountCard.tsx
  src/components/AccountCardMobile.tsx
  src/components/AccountSelectorSlider.tsx
  src/styles/base.scss
Labels: bug, fix

#36 feat: add icon in row for open modal detail
  src/components/ActivityList.tsx
  src/components/ListItemMovement.tsx
Labels: feature

#37 chore: initial changes for new tabs
  src/components/ActivityContainer.tsx
  src/config/liquid.json
  src/locales/en.json
  src/locales/es.json
Labels: chore

#38 chore: add new components for complains tab
  src/App.tsx
  src/components/ActivityContainer.tsx
  src/components/ActivityListFilter.tsx
  src/components/ComplainDetailItem.tsx
  src/components/Complains.tsx
  src/components/ListItemComplain.tsx
  src/components/NewComplainLink.tsx
  src/components/modals/ModalComplainDetail.tsx
  src/config/liquid.json
  src/config/widgetConfig.ts
  src/index.tsx
  src/interface.ts
  src/locales/en.json
  src/locales/es.json
  src/styles/base.scss
Labels: chore
